body {
    background-color: palevioletred;
    font-size: 33px;
    text-align: center;
}
button {
    background-color: aquamarine;
    font-size: 33px;
    font-family: impact;
}
button:hover {
    background-color: yellow;
}
input {
    width: 40%;
    height: 33px;
    font-size: 30px;
}